<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
	{% set nav_active = nav|selectattr("active")|first %}
	{% if nav_active.title == 'Development' %}

		{% for nav_item in nav_active.children %}
			<li class="main {% if nav_item.active %}active{% endif %}"><a href="{{ nav_item.url }}">{{ nav_item.title }}</a></li>
			{% if nav_item.active %}
				{% for toc_item in toc %}
				<li class="{% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}"><i class="fa fa-angle-right" style="margin-left: 30px"></i> {{ toc_item.title }}</a></li>
					{% for toc_item in toc_item.children %}
					<li><a href="{{ toc_item.url }}"><i class="fa fa-angle-right" style="margin-left: 30px"></i> {{ toc_item.title }}</a></li>
					{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}

	{% else %}

		{% for toc_item in toc %}
			<li class="main {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
			{% for toc_item in toc_item.children %}
				<li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
			{% endfor %}
		{% endfor %}

	{% endif %}
    </ul>
</div>
